services:
  web:
    build: .
    ports:
      - "8000:8000"
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - PYTHONUNBUFFERED=1
    develop:
      watch:
        - action: sync
          path: .
          target: /app
        - action: rebuild
          path: pyproject.toml
        - action: rebuild
          path: requirements.txt
