[tool.ruff]
exclude = [
    ".venv",
]

indent-width = 4

[tool.ruff.lint]
select = ["ALL"]
ignore = ["S104"]

fixable = ["ALL"]
unfixable = []

dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = false

docstring-code-line-length = "dynamic"